{% extends "layout.html" %}
{% block body %}
<h2>Register</h2>
<form method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">

    <label for="email">Email (used for login):</label>
    <input type="text" name="email" id="email">

    <label for="pass1" size="4">Password:</label>
    <input type="password" name="pass1" id="pass1" size="20">

    <label for="pass2">Password (repeat):</label>
    <input type="password" name="pass2" id="pass2" size="20">

    <input class="button" type="submit" value="Register">
</form>
{% endblock %}
